<link rel="stylesheet" href="{{ '/assets/css/footer.css' | prepend: site.baseurl }}">
<div class="events">
  <div class="events-text">
    No te pierdas los eventos de Human Capital Lab
  </div>
  <a href="{{'/eventos' | prepend: site.baseurl}}" style="text-decoration: none;" class="events-box">
    Ver eventos
  </a>
</div>
<footer>
  <div class="columna">
    <div>Contáctanos</div>
    <a href="{{'/contacto' | prepend: site.baseurl}}" style="text-decoration: none;" class="escribenos">
      ¡Escríbenos!
    </a>
    <div style="display: flex; margin-top: 10px;">
      <img src="{{'/assets/images/Vector.svg' | prepend: site.baseurl }}" alt="vector"
        style="height: 20px; margin-top: 10px; margin-right: 10px;">
      <div>
        <div style="font-size: 12px;">
          Ubicación, en caso de existir una.
        </div>
        <div style="font-size: 12px; margin-top: -10px !important;">
          Si no, prescindir de este elemento.
        </div>
      </div>
    </div>
    <hr style="
      border: none; 
      height: 2px;
      background-color: white;
      width: 280px;
    ">
    <div>
      REDES SOCIALES
    </div>
  </div>
  <div class="columna">
    <div>Enlaces Directos</div>
    <ul>
      <li><a href="{{'/nosotros' | prepend: site.baseurl}}">Sobre Nosotros</a></li>
      <li><a href="{{'/noticias' | prepend: site.baseurl}}">Noticias</a></li>
      <li><a href="{{'/eventos' | prepend: site.baseurl}}">Eventos</a></li>
      <li><a href="{{'/repositorio' | prepend: site.baseurl}}">Repositorio</a></li>
    </ul>
  </div>
  <div class="columna">
    <div>Líneas de investigación</div>
    <ul>
      <li><a href="{{'/nosotros' | prepend: site.baseurl}}">Early Childhood</a></li>
      <li><a href="{{'/noticias' | prepend: site.baseurl}}">Education</a></li>
      <li><a href="{{'/eventos' | prepend: site.baseurl}}">Health</a></li>
      <li><a href="{{'/repositorio' | prepend: site.baseurl}}">Crime</a></li>
    </ul>
  </div>
</footer>