<footer>
  <div class="columna">
    <div>Contáctanos</div>
    <div style="
        padding-left: 12px;
        padding-top: 5px;
        padding-bottom: 5px;
        border: 2px solid #FFFFFF;
        font-size: 15px;
        font-weight: 700;
        line-height: 24.42px;
        width: 110px;
        margin-top: 10px;
    ">
      ¡Escríbenos!
    </div>
    <div style="display: flex; margin-top: 10px;">
      <img src="{{'/assets/images/Vector.svg' | prepend: site.baseurl }}" alt="vector"
        style="height: 20px; margin-top: 10px; margin-right: 10px;">
      <div>
        <div style="font-size: 12px;">
          Ubicación, en caso de existir una.
        </div>
        <div style="font-size: 12px; margin-top: -10px !important;">
          Si no, prescindir de este elemento.
        </div>
      </div>
    </div>
    <hr style="
      border: none; 
      height: 2px;
      background-color: white;
      width: 280px;
    ">
    <div>
      REDES SOCIALES
    </div>
  </div>
  <div class="columna">
    <div>Enlaces Directos</div>
    <ul>
      <li><a href="/about">Sobre Nosotros</a></li>
      <li><a href="/noticias">Noticias</a></li>
      <li><a href="/eventos">Eventos</a></li>
      <li><a href="/repositorio">Repositorio</a></li>
    </ul>
  </div>
  <div class="columna">
    <div>Líneas de investigación</div>
    <ul>
      <li><a href="/about">Early Childhood</a></li>
      <li><a href="/noticias">Education</a></li>
      <li><a href="/eventos">Health</a></li>
      <li><a href="/repositorio">Crime</a></li>
    </ul>
  </div>
</footer>