<script src="{{'/assets/js/header.js' | prepend: site.baseurl }}"></script>
<link rel="stylesheet" href="{{ '/assets/css/header.css' | prepend: site.baseurl }}">

<div class="site-header">
  <div class="containerheader">
    <a href="{{'/' | prepend: site.baseurl}}" class="logo">
      <div id="header-logo" style="
      box-shadow: 0px 4px 60px 0px #00000059;
      background: #E00F18;
      padding: 15px 28px;
      display: flex;
      ">

        <img src="{{'/assets/images/logo_uandes_macro 1.svg' | prepend: site.baseurl }}"
          alt="Logo Universidad de los Andes">
        <div style="
        display: flex; 
        flex-direction: column; 
        padding-top: 25px;
        padding-left: 20px;
        height: 76px;
        font-size: 25px;
        font-weight: 700;
        line-height: 30px;
        text-align: left;
      ">
          <div>
            Human
          </div>
          <div>
            Development
            Lab
          </div>
        </div>
      </div>
    </a>
    <nav class="main-navigation">
      <div style="
      padding: 5px 10px 2px 10px;
      border: 2px solid #FFFFFF;
      font-size: 15px;
      font-weight: 700;
      line-height: 24.42px;
      width: 110px;
      margin-left: auto;
  ">
        <a class="external" href="https://www.uandes.cl/">
          Visita UANDES
        </a>
      </div>
      <ul>
        <li><a href="{{'/' | prepend: site.baseurl}}">Inicio</a></li>
        <li><a href="{{'/nosotros' | prepend: site.baseurl}}">Sobre nosotros</a></li>
        <li class="dropdown">
          <a href="#" class="dropbtn">
            Iniciativas
            <img src="{{'/assets/images/v-down.svg' | prepend: site.baseurl }}" alt="v-down">
          </a>
          <div class="dropdown-content">
            <div class="dropdown-item" data-href="{{'/research/early-childhood' | prepend: site.baseurl}}">
              <div>Early Childhood</div>
              <div>></div>
            </div>
            <div class="dropdown-item" data-href="{{'/research/health' | prepend: site.baseurl}}">
              <div>Health</div>
              <div>></div>
            </div>
            <div class="dropdown-item" data-href="{{'/research/education' | prepend: site.baseurl}}">
              <div>Education</div>
              <div>></div>
            </div>
            <div class="dropdown-item" data-href="{{'/research/crime' | prepend: site.baseurl}}">
              <div>Crime</div>
              <div>></div>
            </div>
          </div>
        </li>
        <li><a href="{{'/articulos' | prepend: site.baseurl}}">Artículos</a></li>
        <li><a href="{{'/eventos' | prepend: site.baseurl}}/">Eventos</a></li>
        <li><a href="{{'/noticias' | prepend: site.baseurl}}">Noticias</a></li>
        <li><a href="{{'/contacto' | prepend: site.baseurl}}">Contacto</a></li>
      </ul>
    </nav>
  </div>
</div>

<div class="site-header-mobile">
  <div class="container-header-mobile">
    <a href="{{'/' | prepend: site.baseurl}}" class="logo">
      <img src="{{'/assets/images/logo_uandes_macro 1.svg' | prepend: site.baseurl }}"
        alt="Logo Universidad de los Andes" style="height: 80px;">
    </a>
    <button class="hamburger-icon" aria-label="Toggle navigation">
      ☰
    </button>
    <ul class="mobile-nav">
      <li><a href="{{'/' | prepend: site.baseurl}}">Inicio</a></li>
      <li><a href="{{'/nosotros' | prepend: site.baseurl}}">Sobre nosotros</a></li>
      <li>
        <a href="{{'/research/early-childhood' | prepend: site.baseurl}}">Early Childhood</a>
      </li>
      <li>
        <a href="{{'/research/health' | prepend: site.baseurl}}">Health</a>
      </li>
      <li>
        <a href="{{'/research/education' | prepend: site.baseurl}}">Education</a>
      </li>
      <li>
        <a href="{{'/research/crime' | prepend: site.baseurl}}">Crime</a>
      </li>
      <li><a href="{{'/articulos' | prepend: site.baseurl}}">Artículos</a></li>
      <li><a href="{{'/eventos' | prepend: site.baseurl}}/">Eventos</a></li>
      <li><a href="{{'/noticias' | prepend: site.baseurl}}">Noticias</a></li>
      <li><a href="{{'/contacto' | prepend: site.baseurl}}">Contacto</a></li>
    </ul>
  </div>
</div>