.evento-resumen {
  border-bottom: 1px solid #ccc;
  padding-bottom: 20px;
  margin-bottom: 20px;
}

.eventos-container {
  display: flex;
  width: 100%;
  flex-direction: row;
}

.left-column {
  width: 40%;
  padding-right: 20px; /* Espacio entre columnas */
}

.right-column {
  width: 60%;
}

.eventos-list {
  list-style-type: none;
  padding: 0;
}

.evento-item {
  margin-bottom: 20px; /* Espacio entre eventos */
}

.evento-item img {
  width: 100%; /* Ajusta la imagen al contenedor */
  height: auto;
}
