html {
  height: 100%; /* Asegúrate de que el elemento raíz (html) también ocupe el 100% de la altura */
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif; /* Establece una fuente genérica para todo el documento */
}

body {
  display: flex; /* Activa Flexbox */
  flex-direction: column; /* Alinea los hijos verticalmente */
  min-height: 100vh; /* Min-height al 100% del viewport height */
  margin: 0; /* Restablece cualquier margen por defecto */
}

.center-title {
  font-size: 30px;
  font-weight: 700;
  line-height: 46.4px;
  text-align: center; /* Centra el texto horizontalmente */
  width: 100%; /* Ocupa el ancho completo de su contenedor */
  margin: auto;
}

.content {
  margin: 20px 50px; /* Espaciado arriba y abajo para el contenido principal */
  box-sizing: border-box; /* Asegura que el padding no añada ancho extra */
}

.content-wrapper {
  overflow-x: hidden;
  flex: 1; /* Esto hará que el contenedor del contenido crezca para ocupar el espacio disponible, empujando el footer hacia abajo */
}

.container {
  padding: 20px;
}

/* Navegación */
.main-navigation {
  margin-top: 30px;
  padding: 10px;
  list-style: none;
  padding: 0;
}

.main-navigation li {
  display: inline;
  margin-left: 20px;
}

.main-navigation a {
  color: #fff;
  text-decoration: none;
}

.main-navigation a:hover {
  text-decoration: underline;
}

/* Contenido Principal */
.content h1 {
  color: #333;
  font-size: 2em;
}

.content p {
  color: #666;
  line-height: 1.6;
}

.img-responsive {
  max-width: 100%;
  height: auto;
}

.contenedor-imagen {
  max-height: 350px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%; /* Ajusta esto según necesites */
}

.img-cropeada {
  width: auto; /* Mantiene la proporción de la imagen */
  height: 100%; /* Asegura que la imagen cubra la altura del contenedor */
  min-width: 100%; /* Asegura que la imagen siempre sea al menos tan ancha como el contenedor */
  object-fit: cover;
  object-position: center center; /* Centra el recorte */
}

.noticia-img {
  width: 100%;
  height: 220px;
  object-fit: cover;
}

.img-text-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 20px; /* Espacio entre las cartas */
  justify-content: center; /* Esto distribuye el espacio de manera uniforme */
}

.img-text-card {
  max-width: 350px; /* Limita el ancho máximo de las cartas */
  background: #f4f4f4;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
}

.repositorio-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px; /* Espacio entre los elementos */
}

.repositorio-item {
  background: #f4f4f4;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
  max-width: 500px;
}

.repositorio-item img {
  max-height: 300px; /* Limita la altura máxima de la imagen */
  width: auto; /* Mantiene la proporción de la imagen */
}

.repositorio-item-contenedor-foto {
  flex-basis: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contenedor-foto {
  flex-basis: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contenedor-foto img {
  max-height: 200px; /* Limita la altura máxima de la imagen */
  width: auto; /* Mantiene la proporción de la imagen */
}

.contenedor-texto {
  flex-basis: 60%;
  display: flex;
  flex-direction: column; /* Organiza los hijos en columna */
  justify-content: start; /* Alinea los elementos al inicio */
  align-items: start; /* Alinea los elementos al inicio */
  text-align: left; /* Justifica el texto a la izquierda */
  padding: 10px;
  margin-left: 20px;
}

.contenedor-texto-titulo {
  padding: 10px 0;
  font-weight: 700;
}

.titulo,
.subtitulo,
.biografia {
  margin-bottom: 10px; /* Añade espacio entre los elementos */
}

/* Puedes añadir estilos específicos para titulo, subtitulo y biografia si lo deseas */
.titulo {
  font-size: 1.5em;
}

.subtitulo {
  font-size: 1.2em;
  color: darkgrey;
}

.biografia {
  font-size: 1em;
}

.contenedor-inferior {
  display: flex;
  max-height: 300px;
  text-align: left;
  overflow: hidden; /* Oculta cualquier contenido que exceda el contenedor */
}

.hidden {
  display: none !important;
}

.mitad {
  flex: 1; /* Hace que cada mitad ocupe el 50% del contenedor */
}

.texto {
  padding-right: 50px;
  padding-left: 50px;
  background: #e00f181a;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.fila1 {
  font-size: x-large;
  font-weight: 700;
}

.fila1 {
  font-size: x-large;
  font-weight: 700;
}

.texto .fila {
  margin: 10px 0; /* Espaciado entre filas */
}

.texto .fila.boton {
  align-self: flex-start; /* Alinea esta fila específica hacia la izquierda */
  background-color: white; /* Fondo blanco */
  color: #e00f18; /* Texto rojo */
  border: 2px solid #e00f18; /* Borde rojo */
  padding: 5px 10px; /* Ajusta al tamaño deseado */
}

.texto a {
  font-weight: 700;
  text-decoration: none !important;
  color: red; /* Asegura que los enlaces dentro de las filas que no son .boton también sean rojos */
}

.foto img {
  width: 100%; /* Hace que la imagen llene la mitad del contenedor */
  height: auto; /* Mantiene la proporción de la imagen */
  object-fit: cover; /* Asegura que la imagen cubra el espacio disponible sin perder sus proporciones */
}

.share a {
  text-decoration: none;
  margin-right: 20px;
}

.div-limitada {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4; /* Número de líneas después de las cuales se mostrarán puntos suspensivos */
  overflow: hidden; /* Esconde cualquier contenido que se desborde de la cantidad de líneas establecida */
  text-overflow: ellipsis; /* Añade puntos suspensivos al final del texto visible */
  line-height: 1.2; /* Ajusta la altura de línea según necesites */
  height: calc(
    1.2em * 4
  ); /* Ajusta la altura máxima de la div basado en el line-height y el número de líneas */
}

.image-grid {
  display: grid;
  grid-template-columns: repeat(
    auto-fit,
    minmax(150px, 1fr)
  ); /* Ajusta el tamaño de las celdas según necesites */
  gap: 10px; /* Espacio entre las imágenes */
  margin-top: 20px;
}

.image-grid img {
  width: 100%; /* Hace que las imágenes ocupen toda la celda */
  height: auto; /* Mantiene la relación de aspecto de las imágenes */
  object-fit: cover; /* Asegura que la imagen cubra el espacio asignado sin distorsionarse */
}

.video-container {
  position: relative;
  overflow: hidden;
  padding-top: 56.25%; /* 16:9 Aspect Ratio */
}

.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
}

.img {
  background-image: url('../images/image2.png');
  filter: grayscale(100%);
  height: 250px;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center; /* Alinea verticalmente el contenido */
  justify-content: flex-start; /* Alinea el contenido a la izquierda */
}

.content {
  padding-top: 25px;
  text-align: center; /* Centra el texto */
}

.breadcrumbs {
  color: white;
  list-style: none;
  display: flex;
  align-items: center;
  padding: 0 10px; /* Agrega padding horizontal */
}

.breadcrumbs img.home-icon {
  height: 20px;
  margin-right: 5px; /* Ajusta según necesidad */
}

.breadcrumbs ul {
  padding: 0;
  margin: 0;
  display: inline-flex; /* Mantiene los breadcrumbs en línea */
}

.breadcrumbs li {
  display: inline-block;
  margin-left: 5px;
}

.breadcrumbs a {
  text-decoration: none;
  color: white;
}

.banner-title {
  color: white;
  padding-top: 10px; /* Espacio entre breadcrumbs y título */
}

@media (max-width: 768px) {
  .breadcrumbs {
    display: none !important;
  }
  .content {
    padding: 10px;
  }

  .content {
    margin: 0px; /* Ajusta el margen para el contenido principal */
  }

  .content div,
  .content ul {
    display: block;
  }

  div[style*='display: flex;'] {
    flex-direction: column;
    gap: 20px;
  }

  .img {
    height: 200px; /* Reduce la altura para dispositivos móviles */
  }
}
