<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ page.title }}</title>
  <link rel="stylesheet" href="{{ '/assets/css/style.css' | prepend: site.baseurl }}">
  <link rel="stylesheet" href="{{ '/assets/css/home.css' | prepend: site.baseurl }}">
  <link rel="stylesheet" href="{{ '/assets/css/page.css' | prepend: site.baseurl }}">
  <style>
    .img {
      background-image: url('{{ "/assets/images/" | append: page.banner-image | prepend: site.baseurl }}');
      height: 250px;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
    }

    .banner-title {
      font-size: 40px;
      font-weight: 700;
      padding-top: 30px;
      line-height: 73.26px;
      text-align: left;
      color: white;
    }
  </style>

</head>

<body>
  {% include header.html %}

  {% if page.banner-image %}
  <div class="content-wrapper">
    <div class="img">
      <!-- <div class="banner-title" style="text-align:center;">{{ page.title }}</div> -->
    </div>
  </div>
  {% endif %}
  <div class="content container content-wrapper">
    {{ content }}
  </div>
  </div>

  {% include footer.html %}
</body>

</html>