<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ site.title }}</title>
  <link rel="stylesheet" href="{{ '/assets/css/style.css' | prepend: site.baseurl }}">
  <link rel="stylesheet" href="{{ '/assets/css/home.css' | prepend: site.baseurl }}">
  <link rel="icon" type="image/png" sizes="32x32" href="https://www.uandes.cl/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="https://www.uandes.cl/favicon-16x16.png">
</head>

<body>
  {% include header.html %}

  <div class="home-banner">
    <div class="home-banner-text">
      <div class="home-banner-title">
        {{ site.title }}
      </div>
    </div>
  </div>

  <main class="content-wrapper">
    <!-- Seccion Noticias -->
    <div>
      <br>
      <div class="content">
        <div class="noticias-section-bar">
          <div class="noticias-section-title">
            Noticias
          </div>
          <a href="{{ '/noticias' | prepend: site.baseurl }}" class="noticias-ver-mas">
            Ver más noticias
            <svg width="24" height="25" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M12.6 12.5L8 7.9L9.4 6.5L15.4 12.5L9.4 18.5L8 17.1L12.6 12.5Z" fill="#E00F18" />
            </svg>
          </a>
        </div>
        <ul class="noticias-list-home">
          {% assign meses = "enero,febrero,marzo,abril,mayo,junio,julio,agosto,septiembre,octubre,noviembre,diciembre" |
          split: "," %}
          {% assign noticias_ordenadas = site.noticias | sort: 'date' | reverse %}
          {% for noticia in noticias_ordenadas %}
          <li class="noticias-card">
            {% if noticia.image %}
            <img src="{{ noticia.image | prepend: site.baseurl }}" alt="{{ noticia.title }}" class="noticia-img">
            {% endif %}
            <div class="noticias-card-text-section">
              <div class="noticias-card-title">
                {{ noticia.title }}
              </div>
              <a href="{{ noticia.url | prepend: site.baseurl }}" class="noticias-card-date">
                {% assign mes = noticia.date | date: "%-m" | minus: 1 %}
                {{ noticia.date | date: "%-d de" }} {{ meses[mes] }} de {{ noticia.date | date: "%Y" }}
              </a>
            </div>
          </li>
          {% endfor %}

        </ul>
      </div>
      <br>
    </div>
    <!-- Seccion Áreas de Investigación -->
    <div style="background-color:#F4F4F4;">
      <div class="content">
        <br>
        <br>
        <div class="center-title">
          Líneas de investigación
        </div>
        <br>
        <br>
        <br>
        <!-- Cartas de Areas de investigacion -->
        {% assign research_links = "/early-childhood /education /health /crime" |
        split: " "
        %}
        {% assign research_titles = "Early Childhood,Education,Health,Crime,Crime" | split: "," %}

        <div class="research-area-card-list">
          {% for link in research_links %}
          {% assign index = forloop.index0 %}
          {% assign title = research_titles[index] %}
          <div class="research-area-card">
            <br>
            <div class="research-area-card-title">
              {{ title }}
            </div>
            <div class="research-area-card-description">
              Bajada explicativa de esta línea de investigación.
            </div>
            <a href="{{ link | prepend: site.baseurl }}" class="ver-mas-link">
              Ver más
              <svg width="24" height="25" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M12.6 12.5L8 7.9L9.4 6.5L15.4 12.5L9.4 18.5L8 17.1L12.6 12.5Z" fill="#E00F18" />
              </svg>
            </a>
          </div>
          {% endfor %}
        </div>
        <br>
        <br>
        <br>
      </div>
    </div>

  </main>

  {% include footer.html %}
  <script src="{{ '/assets/js/script.js' | prepend: site.baseurl }}"></script>
  <script src="{{ '/assets/js/noticias.js' | prepend: site.baseurl }}"></script>
</body>

</html>