---
layout: default
---
<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ page.title }}</title>
  <link rel="stylesheet" href="{{'/assets/css/noticias.css' | prepend: site.baseurl}}">
  <link rel="stylesheet" href="{{'/assets/css/style.css' | prepend: site.baseurl}}">
</head>

<body>
  {% assign meses = "enero,febrero,marzo,abril,mayo,junio,julio,agosto,septiembre,octubre,noviembre,diciembre" | split:
  "," %}
  <br>
  <section class="noticia-content">
    <time datetime="{{ page.date | date_to_xmlschema }}"
      style="color: #E00F18; border-bottom: 1px solid #E00F18; font-weight: 700;">
      {% assign mes = page.date | date: "%-m" | minus: 1 %}
      {{ page.date | date: "%-d de" }} {{ meses[mes] }} de {{ page.date | date: "%Y" }}
    </time>
    <h1>{{ page.title }}</h1>
    {% if page.image %}
    <div class="contenedor-imagen">
      <img src="{{ page.image | prepend: site.baseurl }}" alt="Banner Principal" class="img-cropeada">
    </div>
    {% endif %}
    {{ content }}
    <br>
    {% if page.video %}
    <!-- Contenedor del Video de YouTube -->
    <div class="video-container" style="padding-top: 32% !important">
      <iframe width="560" height="315" src="{{ page.video }}" frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen></iframe>
    </div>
    {% endif %}
    {% if page.images %}
    <div class="image-grid">
      <!-- Las imágenes se cargarán aquí por JavaScript -->
    </div>
    {% endif %}
    <br>
    <hr>
    <h3>
      ¡Comparte esta noticia a través de tus redes sociales!
    </h3>
    <div class="share">
      <a href="https://www.facebook.com/sharer/sharer.php?u={{ page.url | prepend: site.baseurl }}"
        class="share-button facebook" target="_blank">
        <img src="{{'/assets/images/facebook.svg' | prepend: site.baseurl }}" alt="Facebook">
      </a>
      <a href="https://twitter.com/intent/tweet?url={{ page.url | prepend: site.baseurl }}&text={{ page.title }}"
        class="share-button twitter" target="_blank">
        <img src="{{'/assets/images/twitter.svg' | prepend: site.baseurl }}" alt="Twitter">
      </a>
      <a href="https://www.linkedin.com/sharing/share-offsite/?url=https://lucas-vergara.github.io{{ page.url | prepend: site.baseurl }}"
        class="share-button linkedin" target="_blank">
        <img src="{{'/assets/images/linkedin.svg' | prepend: site.baseurl }}" alt="LinkedIn">
      </a>
    </div>
    <br>
    <br>
    <a href="{{ '/noticias' | prepend: site.baseurl }}"
      style="display: flex; align-items: right; color: #E00F18; font-size: 20px; font-weight: 700; line-height: 24.42px;">
      Ver más noticias
      <svg width="24" height="25" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M12.6 12.5L8 7.9L9.4 6.5L15.4 12.5L9.4 18.5L8 17.1L12.6 12.5Z" fill="#E00F18" />
      </svg>
    </a>
  </section>
  <script src="{{'/assets/js/noticias.js' | prepend: site.baseurl }}"></script>
  <script>
    document.addEventListener('DOMContentLoaded', function () {
      const basePath = "{{ site.baseurl }}"; // Base URL del sitio
      const imagesPath = basePath + "/assets/images/" + "{{ page.images }}" + "/"; // Ruta de las imágenes para esta página
      const gridContainer = document.querySelector('.image-grid');

      fetch(imagesPath)
        .then(response => {
          if (!response.ok) {
            throw new Error('Network response was not ok: ' + response.statusText);
          }
          return response.text();
        })
        .then(html => {
          const parser = new DOMParser();
          const doc = parser.parseFromString(html, 'text/html');
          const images = doc.querySelectorAll('a');
          images.forEach(img => {
            const imgPath = img.getAttribute('href');
            if (imgPath.match(/\.(jpg|jpeg|png|gif)$/)) {
              // Crear el elemento <a> y configurarlo para abrir en nueva pestaña
              const linkElement = document.createElement('a');
              linkElement.href = imagesPath + imgPath; // Establece el href al archivo de imagen
              linkElement.target = '_blank'; // Asegura que se abra en una nueva pestaña
              linkElement.rel = 'noopener noreferrer'; // Mejora la seguridad y el rendimiento

              // Crear el elemento <img> y añadirlo al <a>
              const imgElement = document.createElement('img');
              imgElement.src = imagesPath + imgPath;
              linkElement.appendChild(imgElement);

              // Añadir el <a> completo al contenedor de la cuadrícula
              gridContainer.appendChild(linkElement);
            }
          });
        })
        .catch(err => console.error('Error loading the images: ', err));
    });

  </script>
</body>

</html>