<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ page.title }}</title>
  <link rel="stylesheet" href="{{'/assets/css/style.css' | prepend: site.baseurl}}">
  <link rel="stylesheet" href="{{'/assets/css/home.css' | prepend: site.baseurl}}">
  <link rel="stylesheet" href="{{'/assets/css/page.css' | prepend: site.baseurl}}">
</head>

<body>
  {% include header.html %}

  <div>
    <div class="img">
      <div class="content" style="padding-top: 25px; margin-top: 0px;">
        <div class="breadcrumbs">
          <div style="list-style: none; padding: 0; margin: 0; display: flex; align-items: center;">

            {% if page.breadcrumbs %}
            <img src="{{'/assets/images/home.svg' | prepend: site.baseurl }}" alt="home"
              style="margin-right: -45px; height: 20px; margin-top: -4px; padding-right: 2px;">
            <div>
              <ul>
                {% for crumb in page.breadcrumbs %}
                <li style="display: inline-block;">
                  <a href="{{ crumb.url | prepend: site.baseurl }}"
                    style="text-decoration: none; color: white; margin-left: 5px;">{{
                    crumb.title }}</a>
                  {% unless forloop.last %} / {% endunless %}
                </li>
                {% endfor %}
              </ul>
              {% endif %}
            </div>
          </div>

        </div>
        <div class="banner-title">{{ page.title }}</div>
      </div>
    </div>
    <div class="content container content-wrapper">
      {{ content }}
    </div>

    {% include footer.html %}
</body>

</html>