<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>{{ page.title }}</title>
  <link rel="stylesheet" href="{{'/assets/css/style.css' | prepend: site.baseurl}}" />
  <link rel="stylesheet" href="{{'/assets/css/home.css' | prepend: site.baseurl}}" />
  <link rel="stylesheet" href="{{'/assets/css/page.css' | prepend: site.baseurl}}" />
</head>

<body>
  {% include header.html %}

  <div class="content-wrapper">
    <div class="img">
      <div class="content">
        <div class="breadcrumbs">
          {% if page.breadcrumbs %}
          <img src="{{'/assets/images/home.svg' | prepend: site.baseurl }}" alt="home" class="home-icon">
          <ul>
            {% for crumb in page.breadcrumbs %}
            <li>
              <a href="{{ crumb.url | prepend: site.baseurl }}">{{ crumb.title }}</a>
              {% unless forloop.last %} / {% endunless %}
            </li>
            {% endfor %}
          </ul>
          {% endif %}
        </div>
        <div class="banner-title">{{ page.title }}</div>
      </div>
    </div>
    <div class="content container content-wrapper">{{ content }}</div>
  </div>

  {% include footer.html %}
</body>

</html>